* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

header {
    position: fixed;
    top: 0; left:0;right:0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.logo, .menu-bar {
    display: block;
}

.logo,
nav ul li {
    padding: 1rem;
    font-size: 1.4rem;
}

/* Hamburger menu */

.menu-bar {
    height: 50px;
    position: absolute;
    align-items: center;
    display: flex;
    right: 1rem;
    top: 0%;
    width: 40px;
}

.menu-bar span {
    height: 100%;
    align-items: center;
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 1);
}

.menu-bar span::before,
.menu-bar span::after {
    content: "";
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 1);
}

.menu-bar span::before {
    position: absolute;
    top:10px;
}
.menu-bar span::after {
    position: absolute;
    bottom: 10px;
}



/* Animation */

nav {
    text-align: center;
    position: relative;
    top: 100%;    
    transform: scale(1,0);
    height: 0;
}

nav ul {
    opacity: 0;
}

#menu-bar:checked ~ nav {
    transform: scale(1,1);
    height: auto;
    transition: transform 500ms ease-in-out;
    transform-origin: top;
}
#menu-bar:checked ~ nav ul {
    opacity: 1;
    transition: transform 1s ease-in 1s;
}




nav ul {
    list-style-type: none;
}

ul li,
ul li ul,
ul li ul li {
    padding: .8rem;
}

ul li ul li:last-child{
    padding-bottom: 0;
}


a {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
}


/* Hide the input fields*/

input {
    display: none;
}

nav ul li ul {
    display: none;
}


.accordeon input:checked ~ ul {
    display: block;
    transition: display 400ms ease-in-out;
}



/* Hover effects */

nav ul li:hover {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff
}

nav ul li:hover a {
    color: #fff;
}




/* Media */

@media (min-width: 800px){

    header {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu-bar{
        display: none;
    }

    .logo,
    nav ul li {
        padding: 1rem;
    }

    nav {
        display: block;
        height: auto;
        transform: scale(1,1);
}

    nav ul {
        display: flex;
        opacity: 1;
    }
    
    nav ul li {
        position: relative;
        cursor: pointer;
    }

    nav ul li ul {
        position: absolute;
        padding: 0;
        top: 100%;
        left: 0;
        width: 200px
    }

    nav ul li ul li {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .navbar ul li ul li a {
        color: rgba(51, 51, 51, 1);
    }

    nav ul li ul li,
    nav ul li ul li:last-child  {
        padding: 1rem;
        text-align: left;
        
    }
    
    .navbar ul li:focus-within > ul,
    .navbar ul li:hover > ul{
        display: initial;
    }
    
    nav ul li:hover,
    nav ul li ul li:hover {
        background-color: rgba(51, 51, 51, 0.7);
        color: #fff
    }
    
    nav ul li ul li:hover a {
        color: #fff
    }

    


    }


