* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url("img/bg.jpg");
}

header {
    position: fixed;
    top: 0; left:0;right:0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.logo, .menu-bar {
    display: block;
}
.logo,
nav ul li {
    padding: 1rem;
    font-size: 1.4rem;
}

.menu-bar {
    height: 50px;
    position: absolute;
    align-items: center;
    display: flex;
    right: 1rem;
    top: 0%;
    width: 40px;
}

.menu-bar span {
    height: 100%;
    align-items: center;
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #333;
}

.menu-bar span::before,
.menu-bar span::after {
    content: "";
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: #333;
}

.menu-bar span::before {
    position: absolute;
    top:10px;
}
.menu-bar span::after {
    position: absolute;
    bottom: 10px;
}
nav {
    text-align: center;
    display: none;
    position: relative;
    top: 100%;    
}

#menu-bar:checked ~ nav {
    display: block;
    transition: display 1500ms ease-in;
}

nav ul {
    list-style-type: none;
}

ul li,
ul li ul li {
    padding: .8rem;
}

ul li ul li:last-child{
    padding-bottom: 0;
}


a {
    text-decoration: none;
    color: #333;
}

/* Hide it */

input {
    display: none;
}

nav ul li ul {
    display: none;
}



.accordeon input:checked ~ ul {
    display: block;
    transition: display 400ms ease-in-out;
}


/* Media */

@media (min-width: 800px){

    header {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu-bar{
        display: none;
    }

    .logo,
    nav ul li {
        padding: 1rem;
    }

    nav {
        display: block;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li {
        
        position: relative;
    }



    nav ul li a:hover,
    nav ul li:hover {
        background-color: #333;
        color: #fff
    }


    
    .navbar ul li:focus-within > ul,
    .navbar ul li:hover > ul{
        display: initial;
    }

    
    nav ul li ul {
        padding: 0;
        position: absolute;
        top: 100%;
        background-color: pink;
        left: 0;
        width: 200px
    }

    nav ul li ul li,
    nav ul li ul li:last-child  {
        padding: 1rem;
        text-align: left;
    }




}